.jumbotron {

    background-color: black;
    /* padding-left: 20vh; */
    padding: 4vh;
    padding-left: 15vh;
    padding-top: 5vh;
    color: white;
}

.feedback-form{
    padding-left: 26vh;
    padding-right: 26vh;
}

.form-label {
    color: white;
}